.cache
node_modules
build
.now
.next
public
.env
.DS_Store
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode*
.netlify
coverage
/src/node_modules/@sapper/
/cypress/screenshots/
/__sapper__/
