.header {
  padding: 24px 32px;
  margin-bottom: 32px;
  text-align: center;
}
.h1 {
  font-weight: 100;
}
.nav {
  max-width: 650px;
  margin: 0 auto;
}
.link {
  font-size: 18px;
  margin-right: 16px;
}
.active {
  font-weight: bold;
  text-decoration: underline;
}