.Header-header {
  padding: 24px 32px;
  margin-bottom: 32px;
  text-align: center;
}
.Header-h1 {
  font-weight: 100;
}
.Header-nav {
  max-width: 650px;
  margin: 0 auto;
}
.Header-navLink {
  font-size: 18px;
  margin-right: 16px;
}
.Header-isActive {
  font-weight: bold;
  text-decoration: underline;
}