.HomePage-ul {
  padding: 0;
}
.HomePage-li {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  border: 1px solid #eee;
  overflow: hidden;
  border-radius: 5px;
}
.HomePage-link {
  display: flex;
  color: #000;
}
.HomePage-link:hover {
  box-shadow: 1px 1px 5px #999;
}
.HomePage-placeholder {
  background-color: #eee;
  min-width: 100px;
  margin-right: 24px;
}
.HomePage-img {
  display: block;
  height: 100%;
}
.HomePage-showMoreWrapper {
  display: flex;
  justify-content: center;
}
.HomePage-button {
  width: 100%;
  font-size: 16px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 16px 24px;
  background: deepskyblue;
  border: none;
  border-radius: 0;
  cursor: pointer;
}